fastapi
uvicorn
pydantic
pydantic-settings
SQLAlchemy
asyncpg
greenlet
alembic
psycopg2-binary
qdrant-client
cohere
langchain
langchain-core
langchain-cohere
langchain-google-genai
langgraph
langgraph-checkpoint-postgres
psycopg-pool
psycopg-binary
langchain-text-splitters
google-genai
assemblyai
yt-dlp
youtube-transcript-api
python-multipart
python-dotenv
httpx
